<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main">
<div layout:fragment="content">
    <div class="add-task" style="margin-top: 25px">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add Category
        </button>
        <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" ><strong>ASSIGN CATEGORY</strong></h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label"><strong>CATEGORY NAME:</strong></label>
                                <select class="form-control" name="courseId">
                                    <option th:each="crs : ${courseList}"
                                            th:text="${crs.course_name} + ' - ' + ${crs.course_price} + ' ' + USD"
                                            th:value="${crs.id}"
                                            th:selected="${editRequest.id==crs.id}"></option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                <button type="submit" class="btn btn-primary">ADD FOLDER</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-task" style="margin-top: 25px">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">+ New Task
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><strong>ADD TASK</strong></h5>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{'/trello/addnewtask/' + ${folder.id}}" method="post">
                            <div class="mb-3">
                                <label class="col-form-label">TITLE:</label>
                                <input type="text" class="form-control" placeholder="Title..." name="taskTitle">
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">DESCRIPTION</label>
                                <textarea class="form-control" placeholder="Description..."
                                          name="taskDescription"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                <button type="submit" class="btn btn-primary">ADD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>TASK NAME</th>
                <th>STATUS</th>
                <th>DETAILS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tasks : ${tasks}">
                <td th:text="${tasks.id}"></td>
                <td th:text="${tasks.tasksTitle}"></td>
                <td th:text="${tasks.tasksStatus}"></td>
                <td><a class="btn btn-primary btn-sm">VIEW MORE</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>